<div class="jumbotron">
<h1><%= @city.name %></h1>

</div>

<div class="col-sm-6">
  <h2>What did you do in <%= @city.name %>?</h2>
  <form action="/activities" method="post" class="form-group">
    <input class="form-control" type="text" name="activity[event]" placeholder="Mission Beach Surf School" >
    <br>
    <!-- <input class="display-none" type="integer" name="activity[city_id]" value="<%= @city.id %>" > -->
    <button class="btn btn-primary">Add Activity</button>
  </form>
  <br>

</div>

<div class="col-sm-6">
  <h2>Your <%= @city.name %> Activities</h2>
  <h4>Click for more details</h4>

  <div class="list-group">

  <% @city.activities.each do |activity| %>
    <h4 class="list-group-item">
      <%= link_to activity.event, activity_path(activity.id) %>
    </h4>
  <% end %>

  </div>

</div>
