<h1><%= @city.name %> - Your <%= @city.rank %> Ranked City</h1>

<h2>Edit City Rank</h2>
<form action="/cities/<%= @city.id %>" method="post">
  <label>Rank:</label>
  <input type="text" name="city[rank]" placeholder="1" value="<%= @city.rank %>">

  <button>Update</button>
</form>

<h2>Add Activities from <%= @city.name %></h2>
<form action="/activities" method="post">
  <label>Activity:</label>
  <input type="text" name="activity[activity1]" placeholder="Mission Beach Surf School" >
  <label>Rank:</label>
  <input type="number" name="activity[activity2]" placeholder="1" >

  <button>Add</button>
</form>


<h2>View Your <%= @city.name %> Activities</h2>
<p>Ranked in order of your favorite</p>




<ol>
  <li><a href="#">Sample</a></li>
</ol>
