<div class="jumbotron">
<h1><%= @activity.activity1 %></h1>
</div>

<h2>This is your <%= @activity.activity2 %> ranked activity</h2>
<h3>Edit Rank</h3>
<form action="/activities/<%= @activity.id %>" method="post">
  <label>Rank:</label>
  <input type="text" name="activity[activity2]" placeholder="1" value="<%= @activity.activity2 %>">

  <button>Update</button>
</form>

<%= button_to 'Delete Activity', activity_path(@activity.id), :method => 'delete' %>
