<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
      <div class="navbar-brand" ><%= link_to 'Home', root_path %></div>
      <% if @current_user.present? %>
        <div class="navbar-brand"> <%= link_to "Sign Out", login_path, :method => 'delete' %></div>
         <div class="navbar-brand">Welcome Back <%= @current_user.fname %>!</div>
      <% else %>
        <div class="navbar-brand"><%= link_to 'Sign Up', new_user_path %></div>
        <div class="navbar-brand"><%= link_to 'Sign In', login_path %></div>
      <% end %>
    </div>
    </div>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
